<!DOCTYPE html>
<html>
<head>

	<title>GET FRESH</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<div class="head">
<body>
	<h1>GET FRESH</h1>
	<p>Fresh Food Choices Are Good Investment</p>
    </div class="head">
	<form method="post">
	 <div class="h3">
	  </div class="h3">
	  
	
	 <div class="head1">
		<table>
			<tr>
				<td>Username :</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td><input type="submit" name="" value="login"></td>
				<td><a href="/signup"><input type="button" name="" value="Sign up"></a></td>
				
			</tr>
		</table>
		</div class="head1>
	</form>
</body>

</html>