<!DOCTYPE html>
<html>
<head>

	<title>GET FRESH</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<<<<<<< HEAD
<<<<<<< HEAD

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          
          <a class="btn btn-primary btn-block" href="index.html">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="index.ejs">Register an Account</a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

=======
=======
>>>>>>> 4933ec92d0f806f5b3ff51d5391b8a3e6effcdae
<div class="head">
<body>
	<h1>GET FRESH</h1>
	<p>Fresh Food Choices Are Good Investment</p>
    </div class="head">
	<form method="post">
	 <div class="h3">
	  </div class="h3">
	  
	
	 <div class="head1">
		<table>
			<tr>
				<td>Username :</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td><input type="submit" name="" value="login"></td>
				<td><a href="/signup"><input type="button" name="" value="Sign up"></a></td>
				
			</tr>
		</table>
		</div class="head1>
	</form>
<<<<<<< HEAD
>>>>>>> 4933ec92d0f806f5b3ff51d5391b8a3e6effcdae
=======
>>>>>>> 4933ec92d0f806f5b3ff51d5391b8a3e6effcdae
</body>

</html>