<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post">
                <div align="center">
                    <h1>Your Product</h1>
                </div>
                <table align="center">
                        <tr>
                                <td>
                                    Product Id :
                                </td>
                                <td>
                                    <input type="text" value="<%=product.id %>" readonly>
                                </td>
                            </tr> 
                    <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                <input type="text" name="name" value="<%=product.name %>">
                            </td>
                    </tr>
                    <tr>
                            <td>
                                Description
                            </td>
                            <td>
                                <input type="text" name="quantity" value="<%=product.description %>">
                            </td>
                    </tr>
                    <tr>
                            <td>
                                Date
                            </td>
                            <td>
                                <input type="text" name="price" value="<%=product.price %>">
                            </td>
                    </tr>
                    <tr>
                            <td>
                            </td>
                            <td>
                                <input type="submit" value="Update">
                                <input type="button" onclick="location.href='/supplier'" value="Back">
                            </td>
                        </tr>              
                </table>
            </form>
    </body>
<html>